<div class="col-xs-3" style="    margin: 2px; float: none !important;">
	<div class="right-inner-addon">
			<i class="glyphicon glyphicon-search"></i>
			<input type="search"
						 class="form-control"
						 placeholder="Search" ng-model="fil.Name"/>
	</div>
</div>

<div>
	<div style="clear:both"></div>
	<div id="body1">




	<div id="Entername">


	<table class="table table-striped table-bordered table-hover">
    <thead>
      <tr><th ng-click="sortBy='Name';reverse=!reverse">NAME</th>
	  <th ng-click="sortBy='City';reverse=!reverse">CITY</th>
	  <th ng-click= "sortBy='Country';reverse=!reverse">COUNTRY</th>
	  </tr>
    </thead>
    <tbody>
      <tr ng-repeat="data in datas | filter:fil | orderBy:sortBy:reverse">
	    <td>
          {{data.Name}}
        </td>
        <td>{{data.City}}</td>
        <td>{{data.Country}}</td>
      </tr>
    </tbody>
   </table>


	</div>

</div>
